<div class="center jumbotron">
  <h1 class="welcome">Ishé</h1>
  <h4 style="color: darkgray;">(ee-chay)</h4>
  <h2 class="welcome"><strong>Build</strong> Your Community with Your Community</h2>

  <div class="buttons">
    <% if !current_user.nil? %>
      <%= link_to "Your Account", current_user, class: "inside-home-login-buttons purple-button" %>
      <%= link_to "Log Out", logout_path, method: "delete", class: "inside-home-login-buttons purple-button" %>
    <% else %>

      <%= link_to "Login to Your Ishe Account", login_path, class: "inside-home-login-buttons purple-button" %>
      <%= link_to "Sign up now!", signup_path, class: "inside-home-login-buttons purple-button" %>
      <%= link_to( (image_tag 'sign-in-with-twitter-gray.png'), '/auth/twitter', class: "inside-home-login-buttons") %>
      <%= link_to( (image_tag 'facebook-login-button.png'), '/auth/facebook', class: "inside-home-login-buttons") %>
    <% end %>
  </div>
</div>

<div class="all-new-projects">
  <table>
    <tbody>
      <% Project.last(5).reverse.each do |proj| %>
        <% if proj.created_at.day == DateTime.now.day && proj.complete_button_after_click == false %>
          <tr>
            <td>
              <strong><%= proj.users.first.name %></strong> created a new <strong><%= proj.project_type %> </strong>Project to be completed on <%= proj.project_action_date.strftime('%a %b %d, %Y %H:%M %Z') %>
            </td>
          </tr>
        <% elsif proj.complete_button_after_click == true %>
          <tr>
            <td><% proj.users.each do |user| %>
                <li style="list-style-type: none;"><strong><%= user.name %>!</strong></li>
              <% end %>
                completed a <strong><%= proj.project_type %> </strong>Project on <%= proj.updated_at.strftime('%a %b %d, %Y') %>.<br />
                They Built this City!
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="all-new-projects">
  <table>
    <tbody>
      <% UserJoinProject.last(5).reverse.each do |ujp| %>
        <% if ujp.created_at.day == DateTime.now.day %>

        <script type="text/javascript">
          var ujpLat = "<%= ujp.project.street1 %>"
          var ujpLng = "<%= ujp.project.street2 %>"
          console.log(ujpLat + ", "+ujpLng);
          var geocoder = new google.maps.Geocoder;
          geocodeLatLng(geocoder, ujpLat, ujpLng)
        </script>

        <tr>
          <td class="location-td">
            <strong><%= ujp.user.name %></strong> joined a <strong><%= ujp.project.project_type %></strong> Project at <%= link_to "Latitude: #{ujp.project.street1}, Longitude: #{ujp.project.street2}", "https://www.google.com/maps/place/#{ujp.project.street1.gsub(/\s+/, '+')}+,+#{ujp.project.street2.gsub(/\s+/,'+')}", style: "color: blue;" %>!
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<p style="text-align: center;">
  See a problem where you live? Pothole in the road? Space for a new tree? Something need to be painted? Maybe some trash needs to be cleaned up?
</p>
<p style="text-align: center;">
  You can use Ishé to fix these issues and build your neighborhood. By contributing to the development of your city you do more than build great things, you meet other people who live in your city and can truly claim your city and your neighborhood as your own.
</p>

<!-- Want to display project relative project location instead of GPS coords -->
<script type="text/javascript">
  // in order to reverse geocode
  // The Geocoder supports reverse geocoding directly.
  // supply a comma-separated latitude/longitude pair in the location parameter
  function geocodeLatLng(geocoder, lat, lng) {
    var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
    geocoder.geocode({'location': latlng}, function(results, status) {
      if (status === 'OK') {
        if (results[1]) {
          document.getElementsByClassName('location-td')[0].innerHTML = results[1].formatted_address
        } else {
          window.alert('No results found');
        }
      }
      else {
        window.alert('Geocoder failed due to: ' + status);
      }
    });
  }
</script>
