<script type="text/javascript">
$(document).ready(function() {
  //change label to name of file/image that will be uploaded
  $("input[type='file']").change(function() {
    // resize label to fit filename/path
    $(".image-label").html($(this).val());
    var size = $(this).val().length;
    $(".image-label").css('width', size*10)
  });
});
</script>

<%= form_for(@user, url: signup_path) do |f| %>

  <%= render 'shared/error_messages' %>

  <%= f.label :name, class: 'form-control new-streets new-streets-label' %>
  <%= f.text_field :name, class: 'form-control new-streets new-streets-field' %>

  <%= f.label :email, class: 'form-control new-streets new-streets-label' %>
  <%= f.email_field :email, class: 'form-control new-streets new-streets-field'  %>

  <%= f.label :password, class: 'form-control new-streets new-streets-label' %>
  <%= f.password_field :password, class: 'form-control new-streets new-streets-field'  %>

  <%= f.label :password_confirmation, "Password Confirmation", class: 'form-control new-streets new-streets-label' %>
  <%= f.password_field :password_confirmation, class: 'form-control new-streets new-streets-field'  %>

  <%= f.label :motto, "What Words do You Live By?", class: 'form-control new-streets new-streets-label', id: 'user_motto' %>
  <%= f.text_field :motto, class: 'form-control new-streets new-streets-field'  %>

  <h4>Photo of You!</h4>
  <%= f.label :photo, "Upload a Picture of You!", class: 'form-control image-label' %>
  <%= f.file_field :photo, class: 'form-control' %>

  <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
