<% unless current_user.id == @user.id %>
  <h2>You can only view your user profile</h2>
<% else %>
<% provide(:title, @user.name) %>
<div class="row">
    <section class="user_info">
      <h1>User Name: <%= @user.name %></h1>
        <br>
        <h2><%= "Number of Projects Completed: #{@user.number_projects_complete}" %></h2>
        <br>
        <!-- <h2>Baltimore Bucks Remaining?</h2> -->
      </h1>
    </section>

  <%= link_to "Start a New Project!", new_project_path, class: "btn btn-lg btn-success" %>

</div>

  <table class="table">
    <thead class="thead-users thead-inverse">
      <th></th>
      <th>Project Type</th>
      <th>Location</th>
      <th>Action Date</th>
      <th>Project Complete?</th>
      <th>Project Image</th>
    </thead>
    <tbody>
      <% if @user.projects.count > 0 %>
      <% select_user_proj.each do |proj| %>
      <tr class="active">
        <td><%= link_to "Go to Project", proj.project, class: "btn btn-primary" %></td>

        <td><%= "#{proj.project.project_type}" %></td>

        <td><%= "Intersection of #{proj.project.street1} and #{proj.project.street2}" %></td>

        <td class="p-action-date"><%= proj.project.project_action_date.strftime('%a %b %d, %Y %H:%M %Z') %></td>

        <td class="p-complete"><%= proj.project.project_complete %></td>

        <td><% if proj.project.photo %>
        <%= image_tag proj.project.photo(:thumb) %>
          <% end %>
        </td>

        <td><%= link_to "Delete",project_path(proj.project), method: :delete, class: "btn btn-primary" %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

<% end %>
<script type="text/javascript">
// at bottom of screen because els need to load first
  if (window.screen.availWidth <= 700) {
    $('.p-action-date').prepend("<b>Project Action Date </b><br>")
    $('.p-complete').prepend('<b>Project Complete? </b><br>')
  }
</script>
