<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <br>
        <%= "Number of Projects User Completed" %>
        <br>
        <%= "Baltimore Bucks remaining?" %>
        <br>
      </h1>
    </section>
  </aside>

  <h2><button class="btn btn-lg btn-success"><%= link_to "Start a New Project!", new_project_path %></button></h2>

  <table class="table-hover">
    <thead>
      <th></th>
      <th>Project Type</th>
      <th>Location</th>
      <th>Action Date</th>
      <th>Project Complete?</th>
      <th>Project Image</th>
    </thead>
    <tbody>
      <% if @user.projects.count > 0 %>
      <% select_user_proj.each do |proj| %>
      <tr class="active">
        <td><button type="button" class="btn btn-primary"><%= link_to "Go to Project", proj.project %></button></td>

        <td><%= "#{proj.project.project_type}" %></td>

        <td><%= "Intersection of #{proj.project.street1} and #{proj.project.street2}" %></td>

        <td><%= proj.project.project_action_date %></td>

        <td><%= proj.project.project_complete %></td>

        <td><% if proj.project.photo %>
        <%= image_tag proj.project.photo(:thumb) %>
          <% end %>
        </td>

        <td><button class="btn btn-warning"><%= link_to "Delete",project_path(proj.project), method: :delete %></button></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

</div>
