<script type="text/javascript">
$(document).ready(function() {
  // change color of radio button label to show radio button is selected
  $('.rdio').on('click', function() {
    $('.rdio').css('background-color','white')
    $(this).css('background-color', 'hotpink')
  });
  //change label to name of file/image that will be uploaded
  $("input[type='file']").change(function() {
    // resize label to fit filename/path
    $(".image-label").html($(this).val());
    var size = $(this).val().length;
    $(".image-label").css('width', size*10)
  });
});
</script>

<%= form_for @project, url: projects_path, html: { multipart: true }, class: "form-group" do |f| %>

  <h4>Project Type</h4>

  <%= f.radio_button(:project_type,"Pothole") %>
  <%= f.label :project_type_pothole,"Pothole", class: 'form-control rdio'  %>

  <%= f.radio_button(:project_type,"Planting") %>
  <%= f.label :project_type_planting,"Tree Planting", class: 'form-control rdio' %>

  <%= f.radio_button(:project_type,"Painting") %>
  <%= f.label :project_type_painting,"Painting", class: 'form-control rdio'  %>

  <%= f.radio_button(:project_type,"Trash") %>
  <%= f.label :project_type_trash,"Trash/Debris Cleanup", class: 'form-control rdio'  %>

  <h4>GPS Coordinates</h4>

  <%= button_tag 'Get Location', type: 'button', onclick: 'getLocation()', id: "gps-button", class: "btn btn-primary" %>

  <%= f.label :street1,"Latitude", class: 'new-streets new-streets-label'  %>
  <%= f.text_field :street1, class: 'form-control new-streets new-streets-field', id: "lat-field" %>
  <br>
  <%= f.label :street2,"Longitude", class: 'new-streets new-streets-label' %>
  <%= f.text_field :street2, class: 'form-control new-streets new-streets-field', id: "long-field"  %>

  <h4>Upload an Image</h4>

  <%= f.label :photo, "Upload an Image", class: 'form-control image-label' %>
  <%= f.file_field :photo, class: 'form-control' %>

  <button class="btn btn-success">
    <%= f.submit 'Submit New Project' %>
  </button>

<% end %> <!-- End of form helper -->

<script type="text/javascript">
// geolocation for streets, city, state
var lat = document.getElementById("lat-field");
var long = document.getElementById("long-field");
var fail = document.getElementById("gps-fail");

function getLocation() {
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, geolocationError,
        {
          enableHighAccuracy: true
        });
      }
  else {
      fail.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  function showPosition(position) {
    console.log(position);
    lat.value = position.coords.latitude
    long.value = position.coords.longitude;
  }
  function geolocationError(error) {
    switch(error.code) {
      case error.PERMISSION_DENIED:
        fail.innerHTML = "User denied the request for Geolocation."
        break;
      case error.POSITION_UNAVAILABLE:
        fail.innerHTML = "Location information is unavailable."
        break;
      case error.TIMEOUT:
        fail.innerHTML = "The request to get user location timed out."
        break;
      case error.UNKNOWN_ERROR:
        fail.innerHTML = "An unknown error occurred."
        break;
      }
    }
</script>
