<h4>Please select a type of project and the cross-streets.</h4>

  <%= form_for @project, html: {:multipart => true, class: "form-group"} do |f| %>

  <p class="new_project_form_els">
    <%= f.radio_button(:project_type,"Pothole") %>
    <%= f.label :project_type_pothole,"Pothole"  %>
  </p>

  <p class="new_project_form_els">
    <%= f.radio_button(:project_type,"Planting") %>
    <%= f.label :project_type_planting,"Tree Planting"  %>
  </p>

  <p class="new_project_form_els">
    <%= f.radio_button(:project_type,"Painting") %>
    <%= f.label :project_type_painting,"Painting"  %>
  </p>

  <p class="new_project_form_els">
    <%= f.radio_button(:project_type,"Trash") %>
    <%= f.label :project_type_trash,"Trash/Debris Cleanup"  %>
  </p>

  <p class="new_project_form_els">
    <%= f.label :street1,"First Cross Street"  %>
    <%= f.text_field :street1  %>
  </p>

  <p class="new_project_form_els">
    <%= f.label :street2,"Second Cross Street"  %>
    <%= f.text_field :street2  %>
  </p>

  <p class="new_project_form_els" id="new_project_submit">
    <%= f.submit %>
  </p>

<% end %>
