<script type="text/javascript">
$(document).ready(function() {
  $('.rdio').on('click', function() {
    // need to figure out a way to restrict it to the project label
    $('.rdio').css('background-color','white')
    $(this).css('background-color', 'hotpink')
  });
  $('#in-btn').on('click', function() {
    $('#project_photo').val()
  })
});
</script>

<h2>Please select a type of project, the cross-streets and upload an image.</h2>

  <%= form_for @project, url: projects_path, html: {multipart: true, class: "form-group"} do |f| %>

    <h4>Project Type</h4>

    <%= f.radio_button(:project_type,"Pothole") %>
    <%= f.label :project_type_pothole,"Pothole", class: 'form-control rdio'  %>

    <%= f.radio_button(:project_type,"Planting") %>
    <%= f.label :project_type_planting,"Tree Planting", class: 'form-control rdio' %>

    <%= f.radio_button(:project_type,"Painting") %>
    <%= f.label :project_type_painting,"Painting", class: 'form-control rdio'  %>

    <%= f.radio_button(:project_type,"Trash") %>
    <%= f.label :project_type_trash,"Trash/Debris Cleanup", class: 'form-control rdio'  %>

    <h4>Cross Streets (the ones you are closest to)</h4>

  <div class="new-streets-container">

    <%= f.label :street1,"First Cross Street", class: 'form-control new-streets new-streets-label'  %>
    <%= f.text_field :street1, class: 'form-control new-streets new-streets-field', placeholder: 'First Cross Street' %>
    <br>
    <%= f.label :street2,"Second Cross Street", class: 'form-control new-streets new-streets-label' %>
    <%= f.text_field :street2, class: 'form-control new-streets new-streets-field', placeholder: 'Second Cross Street' %>
    <br>
    <%= f.label :city, "City", class: 'form-control new-streets new-streets-label' %>
    <%= f.text_field :city, class: 'form-control new-streets new-streets-field', placeholder: 'City'  %>
    <br>
    <%= f.label :state, "State", class: 'form-control new-streets-label' %>
    <%= f.select :state, options_for_select(us_states), class: 'form-control new-streets-field' %>
  </div>

    <h4>Image</h4>

    <%= f.file_field :photo, id: 'paperclip-btn' %>

  <!-- <button class="btn btn-primary" id="in-btn">Upload Image</button> -->

  <%= f.submit 'Submit New Project' %>
  <% console %>
<% end %>
