<% unless current_user %>
  <h1>Please <%= link_to 'Login', login_path, style: "color: blue;" %>  or <%= link_to 'Sign Up', signup_path, style: "color: blue;" %> first to create a new Project!</h1>
<% else %>
<h1>New Project</h1>

<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
    <% @project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= render "form" %>
<% end %>
