<div class="static-div">
<h1>
  <%=
    link_to "#{@project.project_type} at the intersection of #{@project.street1} and #{@project.street2}",
    "https://www.google.com/maps/place/#{@project.street1.gsub(/\s+/, '+')}+%26+#{@project.street2.gsub(/\s+/,'+')}+#{@project.city.gsub(/\s+/,'+')}+#{@project.state}",
    id: 'project-loc-link'
  %>
</h1>

<!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src=>"https://www.google.com/maps/embed/v1/place?key=apikey&q=Space+Needle,Seattle+WA" allowfullscreen
</iframe> -->

<%= content_tag :iframe,
  { width: '600',
    height: '450',
    frameborder: '0',
    style: 'border: 0px',
    src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_API_KEY']}&q=#{@project.street1}+#{@project.street2}+#{@project.city}+#{@project.state}"
    } %>

  <!-- if DateTime.now > @project.project_action_date && complete_button_after_click == false -->
  <% if @project.complete_button_after_click == false && DateTime.now > @project.project_action_date %>
  <%= form_for @project do |f| %>
    <% f.check_box :project_complete, checked: true %>
    <% f.check_box :complete_button_after_click, checked: true %>
    <button class="btn btn-success btn-lg">
      Project Complete
      <% f.submit %>
    </button>
  <% end %>
  <% end %>


  <table class="table">
    <thead>
      <tr>
        <th>Project Action Date</th>
        <th>Project Complete?</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @project.project_action_date %></td>
        <td><%=  if @project.project_complete then "Great Job" else "Get to Work!" end%></td>
      </tr>
    </tbody>
  </table>

  <div class="project-pics">
    <% UserJoinProject.where(project: @project).map do |ujp| %>
    <%= image_tag ujp.project.photo.url(:medium) %>
    <% end %>
  </div>

  <h1>People Working on this Project</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @project.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New Comment", new_project_project_comment_path(@project), class: "btn btn-primary" %>
  <table class="table com-body">
    <thead>
      <th>Author</th>
      <th>Post</th>
      <th></th>
      <th></th>
    </thead>

    <tbody>
      <% if @project.project_comments %>
      <% @project.project_comments.each do |com| %>
      <tr>
        <td><%= com.author %></td>
        <td><%= com.body %></td>
        <td><%= link_to 'Edit', edit_project_project_comment_path(@project, com), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', project_project_comment_path(@project, com), method: :delete, class: "btn btn-primary btn-danger" %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New Comment", new_project_project_comment_path(@project), class: "btn btn-primary" %>
</div>
