<h1><%="#{@project.project_type} at the intersection of #{@project.street1} and #{@project.street2}"%></h1>
  <table>
    <thead>
      <tr>
        <th>Project Action Date</th>
        <th>Project Complete?</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @project.project_action_date %></td>
        <td><%=  if @project.project_complete then "Great Job" else "Get to Work!" end%></td>
      </tr>
    </tbody>
  </table>

  <h1>People Working on this Project</h1>
  <%= image_tag @project.photo.url(:medium) %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @project.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Project Comments</h2>
  <%= link_to "New Comment", new_project_project_comment_path(@project) %>
  <table>
    <thead>
      <th>Author</th>
      <th>Body</th>
    </thead>

    <tbody>
      <% if @project.project_comments %>
      <% @project.project_comments.each do |com| %>
      <tr>
        <td><%= com.author %></td>
        <td><%= com.body %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
