<% unless @project.users.exists?(current_user) %>
  <h1>Sorry, you are not currently on this Project. Try creating a new Project!</h1>
<% else %>
<%= content_tag :iframe,
  { width: '100%',
    height: '20%',
    frameborder: '0',
    style: 'left: 0px; border: 0px; display: block; margin: 0 auto;',
    src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_API_KEY']}&q=#{@project.street1.gsub(/\s+/,'+')},#{@project.street2.gsub(/\s+/,'+')}"
    } do -%>
<% end -%>

<!-- +#{@project.city.gsub(/\s+/,'+')}+#{@project.state}" -->

<div class="static-div">
<h4>
  <%=
    link_to "#{@project.project_type} at Latitude: #{@project.street1} and Longitude: #{@project.street2}",
    "https://www.google.com/maps/place/#{@project.street1.gsub(/\s+/, '+')}+,+#{@project.street2.gsub(/\s+/,'+')}",
    id: 'project-loc-link'
  %>
</h4>

<!-- re-add to iff statement for beta  && DateTime.now > @project.project_action_date  -->
  <% if @project.complete_button_after_click == false %>
    <%= link_to 'Complete Project', edit_project_path, class: "btn btn-success", id: "complete-button" %>
  <% end %>

  <table class="table">
    <thead class='thead-inverse thead-projects'>
      <tr>
        <th>Project Action Date</th>
        <th>Project Complete?</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td id="p-action-date">
          <%= @project.project_action_date %>
        </td>
        <td id="p-complete">
          <%= if @project.project_complete then "Yup! Great Job!" else "Nope, Get to Work!" end %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tr>
      <% unless UserJoinProject.where(project: @project).count > 3 %>
        <% UserJoinProject.where(project: @project).map do |ujp| %>
          <td><%= image_tag ujp.project.photo.url(:medium) %></td>
        <% end %>
      <% else %>
        <% UserJoinProject.where(project: @project).map do |ujp| %>
          <td><%= image_tag ujp.project.photo.url(:thumb) %></td>
        <% end %>
      <% end %>
    </tr>
  </table>

  <h1>People Working on this Project</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Words of Wisdom</th>
      </tr>
    </thead>
    <tbody>
      <% @project.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= image_tag user.photo.url(:medium), style: 'border-radius: 50%' %></td>
        <td><%= user.motto %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table">
    <thead class="comments-head">
      <th>Author</th>
      <th>Comment</th>
      <th></th>
      <th><%= link_to "New Comment", new_project_project_comment_path(@project), class: "btn btn-primary", style: 'color: white', id: 'new-comment' %></th>
    </thead>

    <tbody>
      <% if @project.project_comments %>
      <% @project.project_comments.each do |com| %>
      <tr>
        <td><b><%= com.author %></b></td>
        <td><%= com.body %></td>
        <% if com.author == current_user.name %>
          <td><%= link_to 'Edit', edit_project_project_comment_path(@project, com), class: "btn btn-primary" %></td>
          <td><%= link_to 'Delete', project_project_comment_path(@project, com), method: :delete, class: "btn btn-primary btn-danger" %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<script type="text/javascript">
// at bottom of screen because els need to load first
  if (window.screen.availWidth <= 700) {
    $('#p-action-date').prepend("<b>Project Action Date </b>")
    $('#p-complete').prepend('<b>Project Complete? </b>')
  }
</script>
