<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- append .static-body class to body if it's a static page, or apply class to a file? -->
  <% if yield('static_pages#home') %>
  <body class='static-body'>
  <% else %>
  <body>
  <% end %>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>

        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
